/* pseudo class for root affecting html tag */
:root{
  background-color: salmon;
}
/* STYLING THE BODY */
body {
  background-color: greenyellow;
  font-family: monospace;
  margin: 50px;
  padding: 20px 20px 40px 20px;
}

/* the below is a CLASS declaration */
.red-text {
  color: red;
}

/* changes the h1 elements to 30px */
h1 {
  font-size: 30px;
}

/* set the h2 element's font to sans-serif */
h2 {
  font-family: sans-serif;
}

/* set the P element font to monospace */
p {
  font-family: monospace;
}

/* changed the h3 font to import google font loster and backup open sans(see html HEAD) */
h3 {
  font-family: lobster, monospace;
}

/* added a smaller image class */
.smaller-image {
  width: 100px;
}

/* added a thick green border class with a 50% radius to make a circle */
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

/* adding a silver background class */
.silver-background {
  background-color: silver;
}

/* added a ID (single use/unique) style to an element, also added padding*/
#cat-photo-form {
  background-color: green;
  padding: 10px;
}
/* attribute styling, this example is the radio buttons */
[type="radio"] {
  margin: 20px 0px 10px 0px;
}
/* attribute styling, this example is the checkbox buttons */
[type="checkbox"] {
  margin: 20px 20px 20px 0px;
}
.big-padding {
  margin: 50px;
}

/* taken from the challenges to play with the margins */
.injected-text {
  margin-bottom: -25px;
  text-align: center;
}
/* added a border color variable */
.box {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  text-align: center;
  --variable-border: gray;
}

.yellow-box {
  background-color: yellow;
  padding: 10px;
  width: 300px;
}
/* using seperate margin on sides also used variable style (border) from the .box class above with a black fallback. Also a browser fallback of green (IE)*/
.red-box {
  background-color: red;
  color: #fff;
  padding: 1.5em;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  border-color: green;
  border-color: var(--variable-border, black);
}
/* using seperate padding on sides */
.blue-box {
  background-color: blue;
  color: #fff;
  margin: 35px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-color: var(--variable-border);
}
/* using clockwise padding on sides and clockwise margins*/
.green-box {
  background-color: green;
  color: #fff;
  margin: 20px 40px 90px 40px;
  padding: 20px 20px 90px 20px;
  border-color: var(--variable-border);
}
